@media screen and (max-width: 620px) {
  .place__paragraphes {
    width: 100%;
    max-width: 93.75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraphes {
    max-width: 90%;
  }
} 